 {{>header}}
 <div class="container">

            <div class="col-md-6 m-auto mt-5 text-center">
                <h2>About </h2>
                <h3>Zaid Akbar Wani</h3>
                {{>navbar}}

                <div class="card my-4 shadow" style="max-width: 540px;">
                    <div class="row g-0">
                     <div class="col-md-4">
                       <img src="../public/img/Snapchat-51239169.jpg" class="img-fluid rounded-start" alt="...">
               </div>
                   <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Zaid Akbar</h5>
                            <p class="card-text p-4">Hello, its a great gesture to present you my first node application (WEATHER APPLICATION). Skill Set that i accomplish - Html, Css, Bootstrap, Javascript, Node Js, Express Js, Mongo DB, Moongose.</p>
                            <p class="card-text mt-5"><small class="text-muted">Created by Zaid Akbar</small></p>
      </div>
    </div>
  </div>
</div>

            </div>
        </div>
{{>footer}}